.song-wrapper {
  @apply w-full;
}

.song-wrapper .song-container {
  @apply sm:min-h-[60vh] flex flex-col items-center justify-center space-y-2;
}

.song-wrapper .song-container img.active {
  animation: spin 10s linear infinite
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}